
  .buttonStyle{
    background: transparent;
    cursor: pointer;
    color: #fff;
    padding: 5px ;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 550;
    z-index: 1000;
    font-family: 'Effra-ar';
    border: none;
    
}