


.float-left {
  /* transform: translate(0%, 0px) rotate(-4e-5deg) rotateY(15deg) rotateX(9.99994deg) !important; */
 
  transition: 1s cubic-bezier(0.2, 0.82, 0.2, 1);
}

.float-right {
  transform: translate(90%, 0px) rotate(-4e-5deg) rotateY(-15deg)rotateX(9.99994deg) !important;
    

  /* transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.secondaryImgDisplayType1 {
  opacity: 1 !important;
  /* transform: translate(0px, 0%) !important */
}

.secondaryImg-notDisplayType1 {
  opacity: 0 !important;
  /* transform: translate(0px, 30%) !important */
}

.secondaryImgDisplayType2 {
  opacity: 1 !important;
  /* transform: translate(-220px, 0%) !important */
}

.secondaryImg-notDisplayType2 {
  opacity: 0 !important;
  /* transform: translate(-220px, 0%) !important */
}

@keyframes leftToRight {
  from {
    transform: translate(0%, 0px) rotate(-4e-5deg) rotateY(15deg)
      rotateX(9.99994deg) !important;
    scroll-behavior: smooth;
  }

  to {
    transform: translate(90%, 0px) rotate(-4e-5deg) rotateY(-15deg)
      rotateX(9.99994deg) !important;
    scroll-behavior: smooth;
  }
}

.step_stepsAssetsWrapper {
  position: relative;
  will-change: transform;
  width: 50%;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: rotateY(15deg) rotateX(10deg);
  -moz-transform: rotateY(15deg) rotateX(10deg);
 

  transition: 1s cubic-bezier(0.2, 0.82, 0.2, 1);
}
.step_stepsAssetsWrapper .step_stepsBackground_Img {
  z-index: 0;
  position: relative;
  width: 115%;
}

.step_stepsImage_ratio {
  position: relative;
  width: 100%;
}

.step_steps_secondaryAssetsWrapper {
  z-index: 1;
  position: absolute;
  bottom: -30%;
  left: 30%;
  width: 80%;
  height: 100%;
  will-change: transform;
  -webkit-perspective: 800px;
  perspective: 800px;
}
.step_steps_secondary {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0;
  will-change: transform;
}
.step_steps_secondary img {
  display: block;
  width: 100%;
  height: auto;
}

.step_stepsImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.step_stepsImage_cover {
  object-fit: cover;
}

.step_stepsimage_center {
  object-position: center;
}
