.featureSlice {
  margin-top: 250px;
  }


 
  .featureContainer .featureLabelTitleText_width {
    max-width: 690px;
    margin: 0 auto 60px;
  }
  .featureContainer
    .featureLabelTitleText_width.featureLabelTitleText_withGradient {
    margin: auto;
  }


  .feature_maxWidth {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }


  .feature_gradient-right .featureTetris_decoration {
    right: 0;
    -webkit-transform: translate(33.3333333333%, -33.3333333333%);
    -moz-transform: translate(33.3333333333%, -33.3333333333%);
    transform: translate(33.3333333333%, -33.3333333333%);
  }

  .featureTetris_decoration {
    position: absolute;
    top: 0;
  }


  .featureTetris_svg {
    width: 100%;
    height: 100%;
  }

  .featureWrapper{
    padding: 135px 0 105px;
  }


 
  .featureWrapper{
    padding: 70px 0 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #ebf4fd;
    background: -webkit-linear-gradient(
      260deg,
      #ebf4fd,
      hsla(0, 0%, 100%, 0) 45%
    );
    background: -moz-linear-gradient(260deg, #ebf4fd 0, hsla(0, 0%, 100%, 0) 45%);
    background: linear-gradient(190deg, #ebf4fd, hsla(0, 0%, 100%, 0) 45%);
  }
  @media (min-width: 992px) {
    .featureWrapper{
      padding: 135px 0 105px;
    }
  }








  


  .featureInnerWrapper {
    max-width: 980px;
  }
  @media (min-width: 992px) {
    .featureInnerWrapper {
      width: 81.6666666667%;
    }
  }



  .featureWrapper_style {
    width: 83.3333333333%;
    max-width: 1200px;
    z-index: 1;
  }
  .featureInnerWrapper,
  .featureWrapper_style {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }



  .featureWrapper_mobileInnerWrapper {
    width: 81.6666666667%;
  }



  .featureTitleWrapper {
    position: relative;
    margin-bottom: 35px;
  }




  .featureLabelTitleText {
    opacity: 0;
    width: 100%;
  }
  .featureLabelTitleText.featureLabelTitleText_center,
  .featureLabelTitleText.featureLabelTitleText_center .featureLabelWrapper,
  .featureLabelTitleText.featureLabelTitleText_center .featureText_style,
  .featureLabelTitleText.featureLabelTitleText_center .featureTitleWrapper {
    text-align: center;
  }
  .featureLabelTitleText.featureLabelTitleText_center .featureLabelWrapper,
  .featureLabelTitleText.featureLabelTitleText_center .featureText_style,
  .featureLabelTitleText.featureLabelTitleText_center .featureTitleWrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .featureLabelTitleText.featureLabelTitleText_center .featureText_style {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  


  .featureLabel {
    font-family: Effra-ar;
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
  }
  @media (min-width: 992px) {
    .featureLabel {
      font-size: 13px;
    }
  }
  .featureLabel.featureTitle_fontSize {
    font-size: 17px;
  }



  .featureLabelWrapper,
  .featureText_style,
  .featureTitleWrapper {
    text-align: left;
    -webkit-transform: translateZ(1000px);
    -moz-transform: translateZ(1000px);
    transform: translateZ(1000px);
  }
  .featureLabelWrapper {
    margin-bottom: 40px;
  }

  .featureText_style {
    padding: 0 6px;
    margin-bottom: 57px;
  }
  @media (min-width: 992px) {
    .featureText_style {
      padding: 0;
    }
  }


  .featureLabelWrapper:last-child,
 
  .featureText_style:last-child,
  .featureTitleWrapper:last-child {
    margin-bottom: 0;
  }


 
  .featureLabelColor {
    color: #00b6c8;
  }


  .featureTitle {
    font-family: Effra-ar;
    font-size: 23px;
    font-weight: 700;
    line-height: 140%;
  }
  @media (min-width: 992px) {
    .featureTitle {
      font-size: 33px;
      line-height: 56px;
    }
  }

  .featureTitle.featureTitle_fontSize {
    font-size: 33px;
    line-height: 1.19;
  }
  @media (min-width: 992px) {
    .featureTitle.featureTitle_fontSize {
      font-size: 43px;
    }
  }
  .featureTitle.featureIcon_titleFontSize {
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
  }
  @media (min-width: 992px) {
    .featureTitle.featureIcon_titleFontSize {
      font-size: 21px;
    }
  }
  

  .featureTitle_color {
    color: #8D1CB8;
  }

  .featureTitleContainer {
    position: relative;
  }


  .featureText {
    font-family: Effra-ar;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
  }
  @media (min-width: 992px) {
    .featureText {
      font-size: 17px;
    }
  }
  .featureText.featureText_fontStyle {
    font-size: 17px;
    line-height: 1.5;
  }
  @media (min-width: 992px) {
    .featureText.featureText_fontStyle {
      font-size: 21px;
    }
  }


 
  .featureText.featureText_fontSize {
    font-size: 17px;
    line-height: 1.5;
  }
  @media (min-width: 992px) {
    .featureText.featureText_fontSize {
      font-size: 17px;
    }
  }
  .featureText.featureIcon_titleFontSize {
    font-size: 15px;
    line-height: 22px;
  }
  @media (min-width: 992px) {
    .featureText.featureIcon_titleFontSize {
      font-size: 15px;
    }
  }
  
  .featureText_rich {
    font-family: Effra-ar;
    word-break: break-word;
    white-space: pre-line;
  }

  .featureText_color {
    color: #9c45da;
  }













  .featureList {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-pack: start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 93px;
  }
  @media (min-width: 992px) {
    .featureList {
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      flex-direction: row;
      margin-left: -60px;
      margin-right: -60px;
    }
  }












  .featureIconTitleText {
    opacity: 0;
  }
  .featureIconTitleText .featureIcon_container {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .featureIconTitleText .featureIcon_wrapper,
  .featureIconTitleText .featureIcon_title {
    margin-bottom: 0;
    
  }
  .featureIconTitleText .featureIcon_title {
    margin-bottom: 16px;
    
  }
  .featureIconTitleText .featureIcon {
    width: 100%;
    height: auto;
  }
  .featureIconTitleText .featureIcon_wrapper {
    margin-right: 25px;
    display: -moz-box;
    display: flex;
    align-self: flex-start;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    margin-bottom: 21px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .featureIconTitleText .featureIcon_innerWrapper {
    width: 100%;
    height: 100%;
  }
  .featureIconTitleText .featureIcon_text {
    margin-right: 20px;
  }
  @media (min-width: 992px) {
    .featureIconTitleText .featureIcon_wrapper {
      margin-right: 36px;
    }
    .featureIconTitleText .featureIcon_text {
      margin-left: 74px;
      margin-right: 0;
    }
    
    
   
  }


  .featureIcon_item {
    padding: 35px 0;
    border-bottom: 1px solid #e7edf1;
  }
  .featureIcon_item:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }
  @media (min-width: 992px) {
    .featureIcon_item {
      border: none;
      padding: 0 60px;
      margin-bottom: 70px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
    }
  }


  .featureIconRatio {
    position: relative;
    width: 100%;
  }



  .featureIcon_lottieWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  







  .featureTetris {
    display: block;
    width: 60px;
    height: 60px;
  }
  @media (min-width: 992px) {
    .featureTetris {
      width: 90px;
      height: 90px;
    }
  }
  
  .featureTetris.featureTetris_color [class$="tetris-dark-path"] {
    fill: #00accd;
  }
  .featureTetris.featureTetris_color [class$="tetris-light-path"] {
    fill: #80ebff;
  }
  