.panel{
     transform: perspective(1000px);
     visibility: hidden;
     opacity: 1;
     position: absolute;
     top: 100%;
     left: -16px;
     width: calc(100% + 32px);
   
    will-change: opacity, transform;
    cursor: default;
  
 
 
   
   


}

.panel .cards{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -4px 30px -10px rgba(28, 27, 126, 0.15);
    border-radius: 20px;
    margin-top: 30px;
    
   
    
}

.cards .linksWrapper{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 15px;
  flex: 1 1;
  position: relative;
   background: rgba(234, 234, 238, 0.15);

   

   
}

.cards .linkSections{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 15px;


}


.cards .linkSections .linkSection{

width: 50%;
display: flex;
flex-direction: column;
margin-top: -10px;


}

.linkSection .text{
font-size: 15px;
line-height: 22px;
margin-bottom:20px ;
text-transform: uppercase;
font-weight: 700;
margin-left: 40px;
top: -10px;

}

.linkSection .link{
color: #4e6294;
margin-bottom: 10px;
display: flex;

flex-direction: row;


}

.linkSection .linkItem{
font-size: 17px;
line-height: 1.5;
color: #4e6294;
font-weight: 400;

}

.linkSection .linkItem:hover{
    color: #8533ff;
}

.linksWrapper .arrowLinks{

    margin-top: 10px;
    list-style: none;
}


.linksWrapper .arrowLinks .link{
display: flex;
align-items: center;
margin-bottom: 10px;
color: #4e6294;
transition: color .3s ease;
}

.linksWrapper .arrowLinks .link .text{
    color: #1d1b84;
    font-size: 17px;
    line-height: 1.5;
    transition: color .3s ease;
    font-weight: 500;
}

.linksWrapper .arrowLinks .link .text:hover{

    color: #8533ff;
}

.styles_SmallArrow__i7hnM {
    width: 11px;
    height: 12px;
    transform-origin: center;
  }
  
  .styles_gray__1hLfy path {
    fill: #4e6294;
  }

  .styles_gray__1hLfy path:hover {
    fill: #8533ff;
  }

.arrowLinks .link svg{
    padding-left: 10px;
transition: .3s cubic-bezier(0.2, 0.82, 0.2, 1);

}


.arrowLinks .link:hover svg{
    fill: #8533ff;
    transform: translateX(5px);
}
.pushs{
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 10px 33px;
    gap: 40px;
    margin-left: 20px;
    
}

.pushs .push{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
    max-width: 284px;
    width: auto;
    padding-bottom: 10px;
    text-decoration: none;
    justify-content: space-between;
    
}

.pushs .cover{

    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.push .cover .ratio{
    width: 100%;
    padding-bottom: 10%;
    position: relative;
}
.push .cover .ratio .Img{
position: relative;
width: 100%;
height: 100%;
opacity: 1;
visibility: inherit;
left: 0;
top: 0;
margin-top: 10px;
border-radius: 10px;
object-position: center;
object-fit:cover ;

}

.push .textContent{
display: flex;
flex-direction: column;
flex: 1 1;
justify-content: space-between;
margin-bottom: 20px;



}

.push .textContent .title{
color: #1d1b84;
font-size: 16px;
line-height: 1.5;
margin-bottom: 100px;
margin: 0;
text-align: left;
font-weight: 600;
}





.textContent svg{
    padding-left: 10px;
    transition: .3s cubic-bezier(0.2, 0.82, 0.2, 1);   
}


.textContent .link{
display: flex;
transition:  .3s cubic-bezier(0.2, 0.82, 0.2, 1);
font-size: 12px;
line-height: 1;
color: #13bb70;
letter-spacing: 1px;
font-weight: 700;
text-transform: uppercase;
margin-top: 20px;
top: 0;
left:0;
flex-direction: row;
}



.textContent .link:hover{
    filter: brightness(150%);
}
.textContent .link:hover  svg{
transform: translateX(5px);
}