.ShareContainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1000;
}

.ShareContainer .share {
  display: block;
  position: sticky;
  top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  list-style: none;
}

.ShareContainer ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}


.share .socialMedia {
  position: relative;
  display: list-item;
  text-align: -webkit-match-parent;
  left: -50px;
  right: -50px;
  z-index: 10000;
}

@media (max-width: 992px) {
  .ShareContainer {
    /* left: -90px; */
  }
}

@media (max-width: 1300px) {
  .ShareContainer {
    /* left: -30px; */
  }
  
}

@media (max-width: 450px) {
  .ShareContainer {
    z-index: 100000;
    /* left: -53px; */
  }
}

@media (max-width: 768px) {
  .ShareContainer {
    z-index: 100000;
    /* left: -50px; */
   
    
  }
}
