

.Logo{
    display: flex;
    flex-direction: row;
    gap: 10px !important;
    margin-top: 40px ;
    justify-content: center;
    align-items: center;
   
  }


  .icon-list{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px !important;
    gap: 10px;
    position: relative;
  }

  
  .iconCircle {
    width: 100%;
    
    overflow: hidden;
   
  }

  .iconCircle_img {
    width: 100px;
    flex-shrink: 0;
    /* margin-right: 20px; */
  }

  .iconCircle_imgStyle {
    width: 100%;
  }





  .iconRatio {
    position: relative;
   
    /* background-color: rgba(102, 0, 204,0.2); */
   border-radius: 10px;
   overflow: hidden;
   width: 90px;
   height: 55px;
   text-align: center;
   justify-content: center;
  }
  .iconPicture {
    position: relative;
    top: 10px;
    width: 90px;
   height: 55px;
    filter: brightness(-100) ;
  }
 