.scrollContainer{
    position: relative;
}

.scrollTop{
    position: fixed;
    bottom: 800px;
    right: 40px;
    height: 45px;
    width: 45px;
    background: url(up.svg);
    background-color: #530a86;
    border-radius: 50%;
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    
}

.scrollTop.active{
    bottom: 40px;
    opacity: 1;
    visibility: visible;
}

@media (max-width:450px) {
    .scrollTop{
        
        right: 7px;
        height: 30px;
        width: 30px;

        background-size: 18px;


    }
    
}